/*
General color scheme: Green and white.
Favicon background: #006600 (dark green)
Favicon text: #FFFFFF (white)
*/


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    height: auto;
    overflow-x: hidden;
    font-family: Georgia, serif;
    background-image: url('img/ec-bg-page-final.png');
    background-size: 100vw;
    background-repeat: repeat;
    background-position: top 1vh;
}

.aligner-element {
    height: 15vh;
}

.home-redirect {
    height: 15vh;
    width: 50vw;
}

.home-redirect:hover {
    cursor: grab;
}

img.resize {
    display: flex;
    margin: 0vw;
    width: 100vw;
}

.menu {
    background-color: #E2F9E2;
    border: 5px solid #006600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 40vw;
    height: 50vh;
}

input[type=submit] {
    background-color: #006600;
    color: white;
    font-size: 1.5em;
    font-family: Georgia, serif;
    height: 6vh;
}

input[type=submit]:hover {
    cursor: grab;
    background-color: #009700;

}

form {
    background-color: #E2F9E2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding-top: 2vw;
    padding-bottom: 2vw;

    margin-left: 1vw; /* Offsets the element to the right */
    width: 59vw;
}

.home-redirect { /* Clickable banner at the top takes the user back to the homepage */
    height: 15vh;
    width: 50vw;
}

.home-redirect:hover { /* Changing the cursor to indicate it's clickable */
    cursor: pointer;
}

table {
    background-color: #E2F9E2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 1vw;
    width: 59vw;
}

tr { /* Visually separating the table sections */
    padding: 0.5vh;
    border-bottom: 1px solid #006600;
}

td {
    display: flex;
    align-items: center;
    width: 25vw;
    justify-content: space-between;
}

td input[type=text] {
    display: flex;
    margin-bottom: 1vh;
}

tbody { /* Puts a similar border as border1 around the table body--and not the whole table div, which stretches the whole way across the light green area */
    display: flex;
    flex-direction: column;
    border: 2px solid #006600;
    margin-bottom: 3vh;
}

.border1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #006600;
    height: 30vh;

    padding: 2vh;
}

input[type=submit] {
    background-color: #006600;
    color: white;
    font-size: 1.5em;
    font-family: Georgia, serif;
    height: 6vh;
}

input[type=submit]:hover { /* The cool button club */
    cursor: pointer;
    background-color: #009700;
}