/*
General color scheme: Green and white.
Favicon background: #006600 (dark green)
Favicon text: #FFFFFF (white)
*/


body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: Georgia, serif;
    background-image: url('ec-page-bg.png');
    background-size: 100vw;
    background-repeat: no-repeat; background-position: top 1vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.aligner-element {
    height: 15vh;
}

img.resize {
    display: flex;
    margin: 0vw;
    width: 100vw;
}

.menu {
    background-color: #E2F9E2;
    border: 5px solid #006600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 40vw;
    height: 50vh;
}

input[type=submit] {
    background-color: #006600;
    color: white;
    font-size: 1.5em;
    font-family: Georgia, serif;
    height: 6vh;
}

input[type=submit]:hover {
    cursor: grab;
    background-color: #009700;
}

form {
    background-color: #E2F9E2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 59vw;
    height: 60vh;
}

.form-text {
    background-image: url("login-banner2.png");
    background-position: center;
    background-size: 100vh;
    width: 40vw;
    height: 20vh;
}

.form-text h2 {
    margin: 1vh;
}

.form-text p {
    margin: 1vh;
}

input {
    width: 20vw;
    height: 6vh;
}

