/* Mobile Styles */
@media only screen and (max-width: 960px) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0vh;
        x-overflow: hidden;

        background-color: #70AF70;
    }

    .home-banner {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;

        width: 100vw;
        height: 25vh;
        margin-bottom: 4vh;

        background-color: #006600;
        color: white;

        font-size: 3em;
        font-family: Georgia, serif;

    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        height: 50vh;
        width: 80vw;

        background-color: #E2F9E2;
        border: 5px solid #006600;
    }

    .menu button {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 70%;
        height: 30%;

        background-color: #006600;
        font-size: 2.5em;
        font-family: Georgia, serif;
        color: white;
    }

    #login-form input[type=submit] {
        height: 12vh;
    }

    input {
        display: flex;
        height: 15%;
        width: 70%;
    }

    select#userType {
        display: flex;
        margin-bottom: 3vh;
        font-size: 1.4em;
        width: 70%;
    }

    input::placeholder {
        font-size: 1.6em;
    }

    form.menu input {
        display: flex;
        width: 55vw;
        height: 7vh;
    }

    .input-field-box {
        margin-bottom: 3vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .input-field-box label
    {
        font-size: 1.6em;
    }

    input[type=submit] {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 70%;
        height: 30%;

        background-color: #006600;
        font-size: 2.5em;
        font-family: Georgia, serif;
        color: white;
    }

}

/*
The only real differences between pages on desktop are the background images.

Just do inline styling for that.

*/


/* Desktop Styles */
@media only screen and (min-width: 961px) {

    body {
        background-image: url('img/ec-bg-page-final.png');

        background-size: 100vw;
        background-repeat: repeat;
        background-position: top 1vh;


        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 0vh;
        margin-top: 0px; /* To remove the pesky little blank space at the top of the homepage. */
        margin-top: 0px;

        max-width: 100%;
        overflow-x: hidden;
        font-family: Georgia, serif;
    }

    .home-banner {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;

        width: 100vw;
        height: 25vh;
        margin-bottom: 4vh;

        /*background-color: #006600;
        color: white;

        font-size: 3em;
        font-family: Georgia, serif;*/
        opacity: 0;

    }

    .home-banner:hover {
        cursor: pointer;
    }

    .menu {
        background-color: #E2F9E2;
        border: 5px solid #006600;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 40vw;
        height: 50vh;
    }

    .menu button {
        width: 20vw;
        height: 10vh;
        background-color: #006600;
        color: white;
        font-size: 1.8em;
        font-family: Georgia, serif;
    }

    button:hover { /* The cool buttons club */
        background-color: #009700;
        cursor: pointer;
    }

    form {
        background-color: #E2F9E2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 59vw;
        height: 40vh;
    }

    input {
        width: 20vw;
        height: 6vh;
    }

  

}
